include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include src/hardenx/data *.csv *.ps1 *.sh
recursive-include docs *.md
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
